<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Contain test suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>./src</directory>
            <exclude>
                <directory>./scripts</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
